<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Code Quest</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='css/base.css') }}">

<link rel="stylesheet"
href="{{ url_for('static', filename='css/home.css') }}">

</head>

<body>

<div class="overlay">

<nav>



<div>

<a href="/login">Login</a>

<a href="/register">Register</a>

</div>

</nav>

<section class="hero">
<h1>⚔ Code Quest ⚔</h1>
<h2>Become the Ultimate Code Warrior.</h2><br>

<p>

Embark on an epic adventure through enchanted forests,
mystic castles, icy glaciers, and legendary kingdoms.
Solve coding challenges, defeat bosses, and level up your skills.

</p>

<a href="/register">

<button>

Start Adventure →

</button>

</a>

</section>

</div>

</body>

</html>